

.register-login{
    margin: 200px 0px 0px 0px;
    text-align: center;
    align-items: center;
    
}
Link {
    list-style: none;
}

.tagMainGri-grid-70{
    
    width: 70vw;
}

.tagMainGri-grid-30{
    width: 30vw
}