.home{
    width: 100%;
    margin-top: 0vh;
    position: absolute;
    top: 5%;
    
    &__container{
        margin: 7vh 20%;
        
        &__post{
            background-color: rgb(255, 255, 255);
            margin-top: 15vh;
            margin-bottom: 5vh;
            font-size:2vw;
            padding: 5%;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(93, 90, 90, 0.5) 0px 0px 0px 1px;
            &__foto{
                border-radius: 100%;
                display: inline;
                
            }&__author{
                margin-left: 5%;
                display: inline
            }
            &__titulo{
                
            }&__texto{
                
            }&__menu{
                width: 100%;
                margin-bottom: 5%;
                padding-top:2%;
                padding-bottom:2%;
               
                text-align: center;
                &__megusta{
                    margin-right: 30%;
                    padding: 1% 5%;
                    cursor: pointer;
                    &:hover{
                        background-color: rgb(230, 230, 230);
                    }
                }&__comparte{
                    padding: 1% 5%;
                    cursor: pointer;
                    &:hover{
                        background-color: rgb(230, 230, 230);
                    }
                }
            }
            &__comenta{
                width: 100%;
                border-radius: 10px;
                height: 25px;
                
            }
        }
    }
    &__loged{
        display: flex;
        flex-direction: row;
        margin: 5rem 5rem;
        @media screen and (max-width:900px){
            flex-direction: column;
            margin: 2rem 0px;

        };
        &__left{
            height: 100%;
            width:100%;
            text-align: center;
            margin-top: 0;
            &__h1{
                font-size: 3em;
                color: #1877f2;
            }
            &__h4{
                display: inline-block;
            }
        }&__right{
            
            height: 100%;
            width: 100%;
            text-align: center;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;            @media screen and (max-width: 400px) {
                margin: 10vh 20vw;
            }
            &__h3{

                &__link{
                    text-decoration:none;
                    
                }
            }
        }
    }
}