.container{
    display: inline-block;
    position: relative;
    justify-items: center;
    text-align: center;

}

.container input{
  display: block;
  margin: auto
}
.container p {
    
}

.container button{
    margin: auto
   

}

.container h1{ 
    
}
#form{
    justify-content:center;

    
}

