.login {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 15vh 30vw;
  width: 50%;

  @media screen and (max-width: 400px) {
    width: 70%;
    margin: 15vh 15vw;
  }
  &__container {
    padding: 20% 10%;
    text-align: center;
    &__form {
      display: block;
      align-items: center;
      &__h1 {
      }
      &__input {
        background-color: white;
        width: 100%;
        text-align: center;
        margin-bottom: 5%;
        box-shadow: rgba(255, 255, 255, 0.5) 0px 30px 60px -12px inset,
          rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        border: none;
        height: 30px;
        }
    }
  }
}
