.login {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 396px;
  padding: 20px 0 28px;
  margin: 0 auto;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  
  &__container {
    padding: 15px 15px;
    text-align: center;
    box-sizing: border-box;
    &__form {
      display: block;
      align-items: center;
      box-sizing: border-box;
      &__input {
        background-color: white;
        width: 100%;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 5%;
        border: 1px solid #dddfe2 ;
        height: 40px;
        box-sizing: border-box;
        &:focus{
          border-color: #1b74e4;
          box-shadow: 0 0 0 2px #e7f3ff;
          caret-color: #1b74e4; ;
        };
        &:focus-visible{
          outline: none;
        }
        &::placeholder{
          float: left;
          margin: 10px 10px;
          font-size: 1.2em
        }
        }
    }
  }
}
