:root{
    --color-primary: black;
    --background-color-primary: #1877f2;
}

.btn-primary{
    background-color: var(--background-color-primary);
    color: var(--color-primary);
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border-color: transparent;
    cursor: pointer;
    padding: 0.6vh 3vw;
    margin: 0px 10px;
    border-radius: 5%
}
.btn-secondary:hover{
  background-color: #1653d7
}

.btn-primary:active{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
